@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

.clubThumbnail {
  width: 40%;
  cursor: pointer;
}
.thumbnail-container {
  overflow-x:scroll;
  width:100%;
  padding: 0 15px;
}
.thumbnail-list {
  white-space: nowrap;
  list-style: none;
}
.thumbnail-list li {
  display: inline-block;
  cursor: pointer;
  text-align: center;
}
.thumbnail-list li:hover .thumbnail-image {
  opacity: .5;
}
.thumbnail-image {
  display: block;
  margin: 0.5em;
  width: 9em;
  height: 9em;
  border: 1px solid rgb(221, 221, 221);;
  border-radius: 40%;
  /* hover effect */
  opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  font-weight: bolder;
  margin-top: 10em;
}

Button {
	margin-left: 2em;
	margin-right: 2em;
}

.link {
  text-decoration: none;
}

footer {
  color: #737373;
  text-align: center;
  font-size: 12px;
  margin: 0 4px 20px 4px;
}